:host{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
}
.spellButton{
font-size: large;
width: 75px;
}

.SSLNumber{
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

#action-room{
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: hsla(0, 100%, 100%, 0.5);
    border-radius: 25px;
    border-color: black;
    border: 25px;
    width: fit-content;
    font-size: x-large;
}

.spellButton{
    border-radius: 8px;
    margin-right: 2px;
    margin-bottom: 1px;
}

.SSLNumber{
    margin-left: 5px;
}

*{
    font-size: large;
}